**/*-build.log
**/*.crt
**/*.iso
**/*.key
**/*.env
**/*.pem
**/*.keystore
**/.git*
**/__pycache__
**/.ldap_config_defaults
**/htpasswd
**/malcap_*images.tar.gz
**/malcap_*images.tar.xz
**/malcap_netbox_backup_*.psql.gz
**/.envrc
**/.direnv
**/.opensearch*.curlrc
.configured
.trigger_workflow_build
.tmp
config.*
docker-compose*yml
Dockerfiles
Gemfile.lock
opensearch
opensearch-backup
arkime-logs
arkime-raw
kubernetes
malcap-iso
sensor-iso
nginx/nginx_ldap*.conf
pcap
_site
scripts
!scripts/malcap_common.py
!scripts/malcap_kubernetes.py
!scripts/malcap_utils.py
zeek-logs
suricata-logs
netbox/netbox/media
netbox/netbox/postgres
netbox/netbox/redis
